<div class="container-fluid" id="nightMode" style="height: 100%;">
  <!-- Navbar system -->
    <nav class="navbar navbar-default">
      <a class="navbar-brand" href="#">
        <img src="assets//img//logo_example.png" alt="">
      </a>

      <div class="form-inline ">
          <a href="#">
            <img class="dropdown" src="assets//img//profile.png" alt="">

          </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#">
                    <img id='basket' (click)="nightMode()" src="assets//img//basket.png" alt="">
          </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#">
            <img src="assets//img//search.png" alt="">

          </a>
      </div>
    </nav>

  <!-- <div class="hm_bg">
      <div class="row">
        <div class="col-md-3 sidenav">
          <ul>
            <li>Shoes</li>
            <li>Sneakers</li>
            <li>Crocs</li>
            <li>Sandals</li>
          </ul>

          <div class="side_footer">
            <span class="color_foot"><p class="Same">Extra<br>Care</p></span>
            <p class="Same">Foot <br>Tech</p>
          </div>

          <div>
            <span class="line"></span>
          </div>
        </div>
        <div class="col-md-8">
          <div>
            <h1 class="heading text-uppercase"><span>Shoe</span> Shop</h1>
          </div>

          <div class="img_v">
            <img class="img-fluid img_sneaker" src="../../../assets/img/sneaker_1.png" alt="" srcset="">
          </div>

        </div>
        <div class="col-md-1 sidebar">
          <ul>
            <li><span>Manufacturing</span></li>
            <li>Packaging</li>
            <li>Team</li>
          </ul>
        </div>
        <div class="mx-auto pt-4">
          <i class='bx bx-chevrons-down icon_scroll'></i>
        </div>
      </div>
  </div> -->
  <div class="hm_bg">
    <div class="row">
      <div class="col-md-3 sidenav">
        <div class="sticky-top sides_left">
          <ul>
            <li>Shoes</li>
            <li>Sneakers</li>
            <li>Crocs</li>
            <li>Sandals</li>
          </ul>

          <div class="side_footer">
            <span class="color_foot"><p class="Same">Extra<br>Care</p></span>
            <p class="Same">Foot <br>Tech</p>
          </div>

          <div class="pt-3">
            <span class="line"></span>
          </div>
        </div>

      </div>
      <div class="col-md-8">
        <!-- Shoe heading -->
        <div>
          <h1 class="heading text-uppercase"><span>Shoe</span> Shop</h1>
        </div>

        <!-- image -->
        <div class="img_v">
          <img class="img-fluid img_sneaker" src="../../../assets/img/sneaker_1.png" alt="" srcset="">
        </div>

      </div>
      <div class="col-md-1 sidebar">
        <div class="sticky-top">

          <ul>
            <li><span>Manufacturing</span></li>
            <li>Packaging</li>
            <li>Team</li>
          </ul>
        </div>

      </div>
      <!-- Scroll down icon -->
      <!-- <div class="icon">
        <i class='bx bx-chevrons-down icon_scroll'></i>
      </div>
    </div> -->
</div>

</div>
  <div class="hm_bg2">
    <div class="row">
      <div class="col-md-3 sidenav">
        <!-- <ul>
          <li>Shoes</li>
          <li>Sneakers</li>
          <li>Crocs</li>
          <li>Sandals</li>
        </ul>

        <div class="side_footer">
          <span class="color_foot"><p class="Same">Extra<br>Care</p></span>
          <p class="Same">Foot <br>Tech</p>
        </div>

        <div>
          <span class="line"></span>
        </div> -->
      </div>
      <div class="col-md-8">
        <!-- Shoe heading -->


        <!-- image -->
        <div class="img_v">
          <img class="img-fluid img_sneaker2" src="../../../assets/img/sneaker_bg3.png" alt="" srcset="">
        </div>

      </div>
      <div class="col-md-1 sidebar">
        <!-- <ul>
          <li><span>Manufacturing</span></li>
          <li>Packaging</li>
          <li>Team</li>
        </ul> -->
      </div>
      <!-- Scroll down icon -->
      <!-- <div class="mx-auto pt-4">
        <i class='bx bx-chevrons-down icon_scroll'></i>
      </div> -->
    </div>
  </div>
  <div class="hm_bg3">
    <div class="row">
      <div class="col-md-3 sidenav">
        <!-- <ul>
          <li>Shoes</li>
          <li>Sneakers</li>
          <li>Crocs</li>
          <li>Sandals</li>
        </ul>

        <div class="side_footer">
          <span class="color_foot"><p class="Same">Extra<br>Care</p></span>
          <p class="Same">Foot <br>Tech</p>
        </div>

        <div>
          <span class="line"></span>
        </div>
         -->
      </div>
      <div class="col-md-8">
        <!-- Shoe heading -->


        <!-- image -->
        <div class="img_v">
          <img class="img-fluid img_sneaker3" src="../../../assets/img/sneaker3bg.png" alt="" srcset="">
        </div>

      </div>
      <div class="col-md-1 sidebar">
        <!-- <ul>
          <li><span>Manufacturing</span></li>
          <li>Packaging</li>
          <li>Team</li>
        </ul> -->
      </div>
      <!-- Scroll down icon -->
      <!-- <div class="mx-auto pt-4">
        <i class='bx bx-chevrons-down icon_scroll'></i>
      </div> -->
    </div>
  </div>
  <div class="hm_bg4">
    <div class="row">
      <div class="col-md-3 sidenav">
        <!-- <ul>
          <li>Shoes</li>
          <li>Sneakers</li>
          <li>Crocs</li>
          <li>Sandals</li>
        </ul>

        <div class="side_footer">
          <span class="color_foot"><p class="Same">Extra<br>Care</p></span>
          <p class="Same">Foot <br>Tech</p>
        </div>

        <div>
          <span class="line"></span>
        </div>
        -->
      </div>
      <div class="col-md-8">
        <!-- Shoe heading -->


        <!-- image -->
        <div class="img_v">
          <img class="img-fluid img_sneaker3" src="../../../assets/img/sneaker4_bg.png" alt="" srcset="">
        </div>

      </div>
      <div class="col-md-1 sidebar">
        <!-- <ul>
          <li><span>Manufacturing</span></li>
          <li>Packaging</li>
          <li>Team</li>
        </ul> -->
      </div>
      <!-- Scroll down icon -->
      <!-- <div class="mx-auto pt-4">
        <i class='bx bx-chevrons-down icon_scroll'></i>
      </div> -->
    </div>
  </div>
</div>
