@font-face {
  font-family: 'Bauhaus';
  src: url('../../../assets/fonts/bauhaus/BauhausBold.ttf');
}
@font-face {
  font-family: 'Bauhaus-93';
  src: url('../../../assets/fonts/bauhaus-93/BAUHS93.ttf');
}
@font-face {
  font-family: 'Lobster';
  src: url('../../../assets/fonts/lobster/Lobster-Regular.ttf');
}
//Navbar
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

//sides
.sides_left{
  position: fixed;
  top:16%;
  padding-left: 0.5%;
}

.sides_left ul li{
  padding-bottom: 24px;
}

.sides_right{
  position: fixed;
}



// First Page
.hm_bg{
  height: 100%;
  background-image: url("../../../assets/img/01.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 70% 40%;

}
.sidenav{
padding-top: 5%;
}
.sidenav ul{
list-style-type: none;
padding-left: 5%;
font-family: Arial, Helvetica, sans-serif
}
.sidenav ul li{
  padding-top: 15%;
}

.heading{
  font-size: 130px;
  font-family: 'lobster';
}
.heading span{
  font-size: 135px;
 font-family: 'Bauhaus-93';
 font-weight: bolder;
}

.img_sneaker{
  padding-top: 3%;
  height: 100%;
}
.sidebar{
  top: 10%;
  padding-left: 98%;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 10px;
  position: fixed;

}
.sidebar ul{
  list-style-type: none;
}
.sidebar ul li{
  display: inline;
  padding-bottom: 20%;
}
.Same{
  display:inline-block;
}
.side_footer{
  padding-top: 15%;
  font-size: 35px;
  line-height: 1;
}

.color_foot{
padding-top: 17%;
background-color: black;
color:white;
padding-right: 2px;
margin-right: 8px;

}
.line{
  width: 50%;
  height: 20%;
  border-bottom: 1px solid black;
  position: absolute;
  }

